<div class="form-group">
  <label for="car-name">Car Name</label>
  <input type="text" class="form-control" id="car-name" aria-describedby="emailHelp" placeholder="Car Name" [(ngModel)]="carName">
</div>

<div class="form-group">
  <label for="car-model">Car model</label>
  <input type="text" class="form-control" id="car-model" aria-describedby="emailHelp" placeholder="Car Model" [(ngModel)]="carModel">
</div>

<button type="button" (click)="onAdd()" class="btn btn-outline-primary">Add car</button>
<button type="button" (click)="onLoad()" class="btn btn-outline-warning">Load cars</button>